html, body {
  padding: 0;
  margin: 0;
}

// html, body, #content, .page, .app-body, div.clocks {
//   height: 100%;
// }

div.clocks {
  position: relative;
}

div.clock-small {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  overflow: hidden;
  position: relative;
  width: 16em;
  height: 16em;

  & > div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bar {
    padding: 1em 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
  }

  .header {
    font-size: 1.4em;
    font-family: "Roboto Slab";
  }

  .footer {
    font-size: 0.8em;
    bottom: 0;

    .type {
      background: url(clocks.svg) no-repeat;
      height: 52px;
      width: 54px;

      &.digital-twelve {
         background-position: 0 10px;
      }

      &.analog-twelve {
         background-position: 0 -42px;
      }
    }

    .rightly {
      position: absolute;
      right: 1.2em;
    }
  }
}
