html, body {
  padding: 0;
  margin: 0; }

div.clocks {
  position: relative; }

div.clock-small {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
  overflow: hidden;
  position: relative;
  width: 16em;
  height: 16em; }
  div.clock-small > div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; }
  div.clock-small .bar {
    padding: 1em 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0; }
  div.clock-small .header {
    font-size: 1.4em;
    font-family: "Roboto Slab"; }
  div.clock-small .footer {
    font-size: 0.8em;
    bottom: 0; }
    div.clock-small .footer .type {
      background: url(clocks.svg) no-repeat;
      height: 52px;
      width: 54px; }
      div.clock-small .footer .type.digital-twelve {
        background-position: 0 10px; }
      div.clock-small .footer .type.analog-twelve {
        background-position: 0 -42px; }
    div.clock-small .footer .rightly {
      position: absolute;
      right: 1.2em; }
